<footer>
  <div class="container-fluid">
    <p class="text-gray-dark">
      <strong class="m-r-1">BeamMP Mod Team </strong>
      <span class="text-gray-dark">&#xA9; 2020 - Present.</span>
    </p>
  </div>
</footer>
