<div class="container">
  <div class="row center-xs">
    <div class="col-md-4 col-sm-4">
      <a href class="logo-link">
        <span class="logo-text">BeamMP</span>
        <!--<img src="../img/beammp-logo.png"></img>-->
      </a>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul class="links">
        <li>
          <a href="/forum">
            <span class="text">Forum</span>
          </a>
        </li>
        <li>
          <a href="https://wiki.beamng-mp.com">
            <span class="text">Docs</span>
          </a>
        </li>
        <li>
          <a href="/servers">
            <span class="text">Servers</span>
          </a>
        </li>
        <li>
          <a href="/stats">
            <span class="text">Statistics</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/Starystars67/BeamNG-MP">
            <span class="text">Github</span>
          </a>
        </li>
        <li>
          <a href="https://www.patreon.com/BeamNGMP">
            <span class="text">Patreon</span>
          </a>
        </li>
      </div>
    </div>
  </div>
