<footer class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-6 col-sm-4 text-xs-center order-sm-2">
              <a class="text-white" target="_blank" href="https://www.reddit.com/r/BeamMP">Reddit</a>
			  <span> | </span>
              <a class="text-white" target="_blank" href="https://twitter.com/BeamMP_Mod_Team">Twitter</a>
			  <span> | </span>
              <a class="text-white" target="_blank" href="https://www.facebook.com/BeamNGMP">Facebook</a>
          </div>

          <div class="col-6 justify-content-between col-sm-4 text-right text-xs-center order-sm-3">
              <a class="text-white" target="_blank" href="https://github.com/BeamMP">GitHub</a>
			  <span> | </span>
              <a class="text-white" target="_blank" href="https://discord.gg/beammp">Discord</a>
			  <span> | </span>
              <a class="text-white" target="_blank" href="https://www.beamng.com/threads/beamng-drive-multiplayer-beamng-mp-formally-local-multiplayer-lua-based.63052/">BeamNG Forums Thread</a>
          </div>
      </div>
      <div class="col-12 col-sm-4 text-center py-4 order-sm-2">
          <small class="text-white">&#xA9; 2019 - Present | BeamMP Mod Team All Rights Reserved</small>
          <small class="ml-1">
            <a href="https://forum.beammp.com/topic/95/privacy-policy-v1-0" target="_blank">Privacy Policy</a>
            &middot;
            <a href="https://forum.beammp.com/topic/94/terms-of-use-v1-0">Terms &amp; Conditions</a>
          </small>

      </div>
  </div>
</footer>