<div class="container">
  <div class="row center-xs">
    <div class="col-md-4 col-sm-4">
      <a class="logo-img" href="/">
        <div class="logo-image">
          <img src="../img/beammp-logo.png" alt="BeamMP Logo" class="img-fluid"/>
        </div>
      </a>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="burger-menu">
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>
      </div>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <div class="mobile-container">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://forum.beammp.com">Forum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wiki.beammp.com">Wiki</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/servers">Servers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stats">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/BeamMP/BeamMP">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.patreon.com/BeamMP">Patreon</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="mobile-container">
        <div class="topnav mobile-links">

          <div id="burger-links">
            <a href="https://forum.beammp.com">Forum</a>
            <a href="https://wiki.beammp.com">Docs</a>
            <a href="/servers">Servers</a>
            <a href="/stats">Statistics</a>
            <a href="https://github.com/BeamMP/BeamMP">GitHub</a>
            <a href="https://www.patreon.com/BeamMP">Patreon</a>
          </div>

          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <div class="navbar-links">
        <ul class="links">
          <li>
            <a href="https://forum.beammp.com">
              <span class="text">Forum</span>
            </a>
          </li>
          <li>
            <a href="https://wiki.beammp.com">
              <span class="text">Docs</span>
            </a>
          </li>
          <li>
            <a href="/servers">
              <span class="text">Servers</span>
            </a>
          </li>
          <li>
            <a href="/stats">
              <span class="text">Statistics</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/BeamMP/BeamMP">
              <span class="text">Github</span>
            </a>
          </li>
          <li>
            <a href="https://www.patreon.com/BeamMP">
              <span class="text">Patreon</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
