<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>BeamMP-Servers</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  <link href="css/servers-styles.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160071688-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-160071688-1');
	</script>
</head>
<body class="sb-nav-fixed">
  <span id="TEMPAREA" style="display:none;"></span>
  <nav class="nav" style="position: unset !important;">
      <%- include('includes/nav.ejs') %>
  </nav>
  <div class="container-fluid">
    <div id="layoutSidenav_content">
      <h1 class="mt-4" style="color:white;">Server List</h1>
      <div class="card mb-4">
        <div class="card-header"><i class="fas fa-server mr-1"></i>BeamMP Server List</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Location</th>
                  <th>Server Name</th>
                  <th>Map</th>
                  <th>Players</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Location</th>
                  <th>Server Name</th>
                  <th>Map</th>
                  <th>Players</th>
                </tr>
              </tfoot>
              <tbody id="Servers-List">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%- include('includes/footer.ejs') %>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>
</html>
