@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  background: linear-gradient(-45deg, rgba(22, 25, 35, 0.35) 0%, rgba(22, 25, 35, 0.95) 100%) center center/100%, url(./assets/beamng-mp-landing.png) center top/cover;
  color: #fefee1;
}

.main-content .introduction {
  width: 100%;
  position: absolute;
  transition: transform .2s ease;
  transform: translateX(0);
}

.main-content .lead {
  font-size: 30px;
  font-weight: 300;
  font-family: verdana;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.main-content .buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
}

.main-content .buttons-wrapper .buttons .download-client {
  display: block;
  position: relative;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  color: #fefee1;
  border: none;
  text-shadow: 0 0 1px rgba(22, 25, 35, 0.5);
  background: radial-gradient(circle, rgba(150, 204, 0, 0.8), rgba(150, 204, 0, 0.65)) center/100%;
  transition: box-shadow .2s ease;
  font-size: 27px;
  font-weight: 300;
  line-height: 1;
  border-radius: 3px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 297px;
  padding-left: 40px;
}

.description {
  display: block;
  font-size: 12px;
  font-weight: 200;
  opacity: .9;
}

div.buttons {
  min-width: 297px;
}

div.buttons.mt-3 {
  min-width: 297px;
}

img.os-icon {    
  width: 32px !important;
  height: 32px !important;
  position: absolute;
  top: 18px;
  left: 15px;
}

@media screen and (max-width: 600px) {
  #button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .text {
      display: none;
  }

  .logo-link {
      display: flex;
      height: 100%;
      align-items: center;
      align-content: center;
  }

  .logo-text {
      margin: 0 auto;
  }
}