.text-red {
    color: #c30000;
}

.font-weight-bold {
    font-weight: bold;
}

div.dataTables_wrapper {
    margin-top: 10px;
    color: #d1ecfc;
}

div#Clients-Table_length {
    margin-top: 5px;
}

label.col-md-4.control-label {
    color: #a9c5d0;
}

.Print-Only {
  display: none;
}
